In [42]:
import requests as r
import pandas as pd
import time
from tqdm import tqdm

In [6]:
geo_api = 'AIzaSyA-De9lt0pUEkfH4S70RKx_7ntsR4k9KZM'

In [91]:
# addresses_df = pd.read_csv('SubDistricts.csv' )
participants_df = pd.read_csv('participants.csv' )

In [ ]:
address_dict = {}
not_found_l = []
addresses_df['Հասցե'].values

In [43]:
for a in tqdm(addresses_df['Հասցե'].values):
    try:
        URL = f'https://maps.googleapis.com/maps/api/geocode/json?address={a}&key={geo_api}'
        address_dict[a] = response = r.get(URL).json()
        time.sleep(0.1)
    except:
        not_found_l.append(a)

100%|██████████| 475/475 [03:02<00:00,  2.60it/s]

In [88]:
address_geo_df = pd.DataFrame(address_dict).transpose()

In [79]:
def geo_parser_lng(x):
    try:
        return x[0]['geometry']['location']['lng']
    except:
        return None

def geo_parser_lat(x):
    try:
        return x[0]['geometry']['location']['lat']
    except:
        return None

In [89]:
address_geo_df['lat']  = address_geo_df['results'].apply(geo_parser_lat)
address_geo_df['lng']  = address_geo_df['results'].apply(geo_parser_lng)

In [90]:
# address_geo_df['district'] = address_geo_df.index
address_geo_df.reset_index(inplace=False)

,index,results,status,lat,lng
0,"Թիվ 51 մ/մանկապարտեզ, Ավան 6 փ. 52/1 շենք",[],ZERO_RESULTS,NaN,NaN
1,"Թիվ 87 դպրոց, Խուդյակով 44","[{'address_components': [{'long_name': '44', '...",OK,40.210442,44.567105
2,"Թիվ 104 դպրոց, Աճառյան 5",[],ZERO_RESULTS,NaN,NaN
3,"Օհանյանի անվան հիմնական դպրոց, Աճառյան 15",[],ZERO_RESULTS,NaN,NaN
4,"Թիվ 56 մ/մանկապարտեզ, Ավան Առինջ թաղ. 1մ/շ, 1/14",[{'address_components': [{'long_name': 'Arinj'...,OK,40.233687,44.582067
...,...,...,...,...,...
349,Հ.178 հիմնական դպրոց Խաղաղ Դոնի փող. N 25,[{'address_components': [{'long_name': 'Khagha...,OK,40.128736,44.524482
350,«Երևանի Նուբարաշեն մարզամշակութային կենտրոն» Հ...,"[{'address_components': [{'long_name': '2', 's...",OK,40.149973,44.530328
351,«Երեխայի և ընտանիքի աջակցության կենտրոն» ՊՈԱԿ ...,[{'address_components': [{'long_name': 'Çüngüş...,OK,38.268644,39.329580
352,"«Երևանի թիվ 175 միջնակարգ դպրոց» ՊՈԱԿ, Նուբարա...","[{'address_components': [{'long_name': '11th',...",OK,40.087246,44.551338
353,"«Երևանի թիվ 175 միջնակարգ դպրոց» ՊՈԱԿ, Նուբարա...","[{'address_components': [{'long_name': '11th',...",OK,40.087246,44.551338

In [92]:
participants_df.head()

       ՏԸՀ N  տեղամաս N   total  part_11  part_14  part_17  part_20
0  Թիվ 1 ԸԸՀ        1.0  1934.0     85.0    243.0    401.0    549.0
1  Թիվ 1 ԸԸՀ        2.0  1933.0    119.0    308.0    434.0    621.0
2  Թիվ 1 ԸԸՀ        3.0  1932.0    100.0    242.0    361.0    517.0
3  Թիվ 1 ԸԸՀ        4.0  1956.0    146.0    289.0    431.0    602.0
4  Թիվ 1 ԸԸՀ        5.0  1845.0    137.0    280.0    454.0    575.0

In [109]:
participants_df.head()

       ՏԸՀ N  տեղամաս N   total  part_11  part_14  part_17  part_20
0  Թիվ 1 ԸԸՀ        1.0  1934.0     85.0    243.0    401.0    549.0
1  Թիվ 1 ԸԸՀ        2.0  1933.0    119.0    308.0    434.0    621.0
2  Թիվ 1 ԸԸՀ        3.0  1932.0    100.0    242.0    361.0    517.0
3  Թիվ 1 ԸԸՀ        4.0  1956.0    146.0    289.0    431.0    602.0
4  Թիվ 1 ԸԸՀ        5.0  1845.0    137.0    280.0    454.0    575.0

In [120]:
participants_df['տեղամաս N'].astype(str).str.split('.')

0        [1, 0]
1        [2, 0]
2        [3, 0]
3        [4, 0]
4        [5, 0]
         ...
491     [54, 0]
492     [55, 0]
493       [nan]
494     [55, 0]
495    [475, 0]
Name: տեղամաս N, Length: 496, dtype: object

In [114]:
participants_df['ՏԸՀ N'].str[4:6].str.strip()+ '/'

0       1/
1       1/
2       1/
3       1/
4       1/
      ...
491    10/
492    10/
493    NaN
494      /
495    մե/
Name: ՏԸՀ N, Length: 496, dtype: object

In [99]:
address_geo_df.merge(addresses_df, left_on='index', right_on='Հասցե').merge(participants_df)

,index,results,status,lat,lng,Մարզ,Բնակավայր,Նախկին,Ընտրատարածք,Ընտրատեղամաս,Հասցե
0,"Թիվ 51 մ/մանկապարտեզ, Ավան 6 փ. 52/1 շենք",[],ZERO_RESULTS,NaN,NaN,Երևան,Ավան,NaN,1,1/1,"Թիվ 51 մ/մանկապարտեզ, Ավան 6 փ. 52/1 շենք"
1,"Թիվ 51 մ/մանկապարտեզ, Ավան 6 փ. 52/1 շենք",[],ZERO_RESULTS,NaN,NaN,Երևան,Ավան,NaN,1,1/2,"Թիվ 51 մ/մանկապարտեզ, Ավան 6 փ. 52/1 շենք"
2,"Թիվ 87 դպրոց, Խուդյակով 44","[{'address_components': [{'long_name': '44', '...",OK,40.210442,44.567105,Երևան,Ավան,NaN,1,1/3,"Թիվ 87 դպրոց, Խուդյակով 44"
3,"Թիվ 87 դպրոց, Խուդյակով 44","[{'address_components': [{'long_name': '44', '...",OK,40.210442,44.567105,Երևան,Ավան,NaN,1,1/4,"Թիվ 87 դպրոց, Խուդյակով 44"
4,"Թիվ 104 դպրոց, Աճառյան 5",[],ZERO_RESULTS,NaN,NaN,Երևան,Ավան,NaN,1,1/5,"Թիվ 104 դպրոց, Աճառյան 5"
...,...,...,...,...,...,...,...,...,...,...,...
470,«Երևանի Նուբարաշեն մարզամշակութային կենտրոն» Հ...,"[{'address_components': [{'long_name': '2', 's...",OK,40.149973,44.530328,Երևան,Նուբարաշեն,NaN,10,10/51,«Երևանի Նուբարաշեն մարզամշակութային կենտրոն» Հ...
471,«Երեխայի և ընտանիքի աջակցության կենտրոն» ՊՈԱԿ ...,[{'address_components': [{'long_name': 'Çüngüş...,OK,38.268644,39.329580,Երևան,Նուբարաշեն,NaN,10,10/52,«Երեխայի և ընտանիքի աջակցության կենտրոն» ՊՈԱԿ ...
472,«Երեխայի և ընտանիքի աջակցության կենտրոն» ՊՈԱԿ ...,[{'address_components': [{'long_name': 'Çüngüş...,OK,38.268644,39.329580,Երևան,Նուբարաշեն,NaN,10,10/53,«Երեխայի և ընտանիքի աջակցության կենտրոն» ՊՈԱԿ ...
473,"«Երևանի թիվ 175 միջնակարգ դպրոց» ՊՈԱԿ, Նուբարա...","[{'address_components': [{'long_name': '11th',...",OK,40.087246,44.551338,Երևան,Նուբարաշեն,NaN,10,10/54,"«Երևանի թիվ 175 միջնակարգ դպրոց» ՊՈԱԿ, Նուբարա..."
474,"«Երևանի թիվ 175 միջնակարգ դպրոց» ՊՈԱԿ, Նուբարա...","[{'address_components': [{'long_name': '11th',...",OK,40.087246,44.551338,Երևան,Նուբարաշեն,NaN,10,10/55,"«Երևանի թիվ 175 միջնակարգ դպրոց» ՊՈԱԿ, Նուբարա..."

In [3]:
!pip install openpyxl

Collecting openpyxl
  Obtaining dependency information for openpyxl from https://files.pythonhosted.org/packages/6a/94/a59521de836ef0da54aaf50da6c4da8fb4072fb3053fa71f052fd9399e7a/openpyxl-3.1.2-py2.py3-none-any.whl.metadata
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Obtaining dependency information for et-xmlfile from https://files.pythonhosted.org/packages/96/c2/3dd434b0108730014f1b96fd286040dc3bcb70066346f7e01ec2ac95865f/et_xmlfile-1.1.0-py3-none-any.whl.metadata
  Downloading et_xmlfile-1.1.0-py3-none-any.whl.metadata (1.8 kB)
Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 250.0/250.0 kB 988.3 kB/s eta 0:00:00 0:00:01m
Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: pip install --upgrade pip

In [5]:
import pandas as pd
df_results = pd.read_excel('/Users/rafael/projects/car-price-predictor/2023elections/resultsbyar17.09.23_18-09-2023.xlsx')

In [6]:
df_results

,Տեղեկատվություն \nԵրևանի ավագանու ընտրությունների ընթացիկ արդյունքների (նախնական)\n(ստացվել է էլեկտրոնային տարբերակով),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36
0,Ամփոփվել են թվով,NaN,NaN,NaN,NaN,NaN,NaN,37,տեղամասերի արդյունքները,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Վարչական շրջանի անվանումը,Տեղամասերի թիվը,Մշակ-ված տեղամասերի թիվը,"Մշակ-ված տեղա-մասեր, %",Ընտրող-ների ընդհա-նուր թիվը,Քվեարկու-թյան մասնակից-ների ընդ-հանուր թիվը,"Քվեար-կության մասնա-կիցներ, %",ՀԱՆՐԱՅԻՆ ՁԱՅՆ ԿՈՒՍԱԿՑՈՒԹՅՈՒՆ,%,ՔԱՂԱՔԱ-ՑԻԱԿԱՆ ՊԱՅՄԱՆԱ-ԳԻՐ ԿՈՒՍԱ-ԿՑՈՒԹՅՈՒՆ,...,ԼՈՒՍԱՎՈՐ ՀԱՅԱՍՏԱՆ ԿՈՒՍԱԿՑՈՒԹՅՈՒՆ,%,ԺՈՂՈՎՐԴԱՎԱՐԱԿԱՆ ՀԱՄԱԽՄԲՈՒՄ ԿՈՒՍԱԿՑՈՒԹՅՈՒՆ,%,ԱՊՐԵԼՈՒ ԵՐԿԻՐ ԿՈՒՍԱԿՑՈՒԹՅՈՒՆ,%,ՄԱՅՐ ՀԱՅԱՍՏԱՆ ԿՈՒՍԱԿՑՈՒԹՅՈՒՆՆԵՐԻ ԴԱՇԻՆՔ,%,kwxm,Անճշտություն-ների չափը
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,2,...,11,NaN,12,NaN,13,NaN,14,NaN,NaN,NaN
3,Աջափնյակ,52,5,9.615385,7500,1993,26.573333,186,10.896309,773,...,50,2.929115,20,1.171646,47,2.753368,221,12.94669,1707,0
4,Ավան,23,0,0,0,0,NaN,0,0,0,...,0,0,0,0,0,0,0,0,1,0
5,Արաբկիր,54,2,3.703704,3670,943,25.694823,122,16.073781,314,...,10,1.317523,15,1.976285,21,2.766798,148,19.499341,759,0
6,Դավթաշեն,19,1,5.263158,1875,526,28.053333,48,10.762332,161,...,23,5.156951,6,1.345291,16,3.587444,61,13.67713,446,0
7,Էրեբունի,50,5,10,8404,1873,22.287006,213,13.46397,722,...,47,2.970923,17,1.074589,38,2.402023,229,14.475348,1582,0
8,Կենտրոն,54,4,7.407407,6702,1950,29.095792,228,14.941022,532,...,25,1.63827,15,0.982962,62,4.06291,346,22.673657,1526,0
9,Մալաթիա-Սեբաստիա,60,2,3.333333,3585,923,25.746165,79,10.273082,316,...,29,3.771131,6,0.780234,21,2.730819,123,15.994798,769,0
10,Նոր Նորք,57,7,12.280702,10226,2944,28.78936,320,14.096916,793,...,47,2.070485,49,2.15859,157,6.9163,480,21.145374,2270,0
11,Նորք-Մարաշ,6,0,0,0,0,NaN,0,0,0,...,0,0,0,0,0,0,0,0,1,0
12,Նուբարաշեն,5,1,20,452,130,28.761062,9,7.438017,53,...,3,2.479339,0,0,1,0.826446,7,5.785124,121,0
13,Շենգավիթ,63,8,12.698413,14338,3236,22.569396,288,10.507114,1360,...,88,3.210507,23,0.83911,63,2.298431,407,14.848595,2741,0
14,Քանաքեռ-Զեյթուն,32,2,6.25,2498,631,25.260208,83,15.485075,174,...,14,2.61194,8,1.492537,9,1.679104,80,14.925373,536,0
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Ընդ.,475,37,7.789474,59250,15149,25.567932,1576,12.64949,5198,...,336,2.696846,159,1.276186,435,3.491452,2102,16.871338,12459,0